<nav class="navbar navbar-default"
  routerLinkActive="active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Projects</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/archive">archive projects</a></li>
        <li routerLinkActive="active"><a routerLink="/live">live projects</a></li>
        <li routerLinkActive="active"><a routerLink="/kickedout">kickedout projects</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signin"> Sign in</a></li>
        <li><a routerLink="/signup"> Register</a></li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onGetData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Welcome {{connectedUser}} </a> </li>
      </ul>
    </div>
  </div>
</nav>
