<nav class="navbar navbar-default"
  routerLinkActive="active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Projects</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/archive">archive projects</a></li>
        <li routerLinkActive="active"><a routerLink="/live">live projects</a></li>
        <li routerLinkActive="active"><a routerLink="/kickedout">kickedout projects</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li class="dropdown">-->
          <!--<a href = "#" class = "dropdown-toggle" role="button">Manage <span class="caret"></span> </a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#"></a>edit </li>-->
            <!--<li><a href="#"></a>save </li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>
