<a class="container">
  <div class="row">
    <div class="column col-sm-4">
      <h1>{{proj.name}}</h1>
      <p>{{proj.description}}</p>
      <a target="_blank" rel="noopener noreferrer" [href]="proj.linkToExample">Link to example: {{proj.linkToExample}}</a>
      <p>Goal: {{proj.neededMoney}}</p>
      <p>Collected: {{proj.moneyCollected}}</p>
      <a target="_blank" rel="noopener noreferrer" [href]="proj.videoPath">Link to video: {{proj.videoPath}}</a>
      <p>Created by: {{proj.owner}}</p>
      <div class="column col-sm-4 ">
        <img [src]="proj.imagePath" alt="{{ proj.name }}" class="img-responsive img">
      </div>
    </div>
    <div class="column col-sm-4">
      <h3 style="text-align: center">Donations:</h3>
      <div class="list-group-item" style="text-align: left; height: 35px" *ngFor="let donation of proj.donations;let i = index ">
        <div class="row pull-left" style="text-align: left">
           {{i+1}}. {{donation.name }} : {{donation.amount}}
        </div>
      </div>
    </div>
  </div>
</a>
