<a>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{proj.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{proj.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Link to example: {{proj.linkToExample}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Days left: {{proj.daysLeft}}</p>
    </div>
    <div class="col-xs-12">
      <p>Hours left: {{proj.hoursLeft}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Goal: {{proj.neededMoney}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Collected: {{proj.moneyCollected}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>owner: {{proj.owner}}</p>
    </div>
  </div>
</a>

