<div class="row">
  <div class="col-xs-15">
    <button class="btn btn-success">new project</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix"  *ngFor="let proj of liveProjects" (click)="selectedProject = proj">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ proj.name }}</h4>
        <p class="list-group-item-text">{{ proj.GetRecruitmentPercent() }}</p>
      </div>
      <span class="pull-right">
        <img [src]="proj.imagePath" alt="{{ proj.name }}" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
  </div>
  <div class="col-xs-12">
    <app-live-project-detail *ngIf="selectedProject; else noProject" [proj]="selectedProject"></app-live-project-detail>
    <ng-template #noProject>
      <p></p>
    </ng-template>
  </div>
</div>


