<a
  style="cursor: pointer; align-content: center; height: 100%"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item ">
  <h4 class="list-group-item-heading">{{ proj.name }}</h4>
  <p class="list-group-item-text">{{ proj.GetRecruitmentPercent() }}% {{proj.moneyCollected}}</p>
  <p class="list-group-item-text">No. of donation: {{proj.donations.length}}</p>
  <h4>{{days}}:{{hours}}:{{minutes}}:{{seconds}}</h4>
  <a href="">
    <img [src]="proj.imagePath" alt="{{ proj.name }}" class="img-responsive img">
  </a>
</a>

